*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  color: var(--text-color);
  font: 1em/1.5 var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
  line-height: 1.1;
  margin: 1.25em 0;
}

h4 {
  font-weight: 700;
}

p, ol, ul, figure, table {
  margin: 0 0 1.25em;
}

/* https://github.com/necolas/normalize.css#sub-sup */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  top: -0.5em;
  vertical-align: baseline;
}

a {
  color: var(--link-color);
  text-underline-offset: 1px;
  transition: color .2s var(--easing);
}
a:where(:hover, :focus, :active) {
  color: var(--link-color-active);
}

article sup a {
  padding: 0 0.25em;
  text-decoration: none;
}

article strong a {
  color: inherit;
}

pre {
  overflow: auto;
  -webkit-text-size-adjust: none;
  white-space: pre;

  /* https://github.com/necolas/normalize.css#pre-code-kbd-samp */
  font-family: monospace, monospace;
}

code {
  background: var(--code-bg-color);
  border-radius: 2px;
  display: inline-block;
  font: 0.875em/1.5 Monaco, monospace;
  padding: 2px 3px 1px;
  text-decoration: inherit;
  word-break: break-word;
}

pre code {
  background: inherit;
  color: inherit;
  display: block;
  padding: 0;
}

a > code {
  padding-left: 0;
  padding-right: 0;
}

ol, ul {
  padding-left: var(--gap);
}

ul {
  list-style-type: square;
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin-bottom: 0;
}

ol ol {
  list-style: lower-alpha;
}

ol ol ol {
  list-style: lower-roman;
}

figcaption {
  color: #666;
  font-style: italic;
  font-size: .8em;
  padding: 0 .5em;
  text-align: right;
}

figcaption a {
  color: var(--accent-color);
  border-bottom: 1px dotted var(--accent-color);
  text-decoration: none;
}

figcaption a:hover {
  border-bottom-style: solid;
}

figure img {
  height: auto;
  max-width: 100%;
}

figure:not([noborder]) img {
  border: 1px solid var(--border-color);
  border-radius: 3px;
  padding: 3px;
}

table {
  border-collapse: collapse;
  max-width: 100%;
  width: 100%;
}

table th {
  background-color: var(--bg-color);
  vertical-align: bottom;
}

table th,
table td {
  border: 1px solid var(--border-color);
  padding: .75em;
  text-align: left;
  vertical-align: top;
}

iframe {
  display: block;
  width: 100%;
}

video {
  border: 1px solid var(--border-color);
  width: 100%;
}
