@viewport {
  width: device-width
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  color: var(--text-color);
  font: 1.0625em/1.47 var(--fonts-serif-backup);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.wf-active body {
  font-family: var(--fonts-serif);
}

h1,
h2,
h3,
h4 {
  color: var(--heading-color);
  font-family: var(--fonts-sans-serif-backup);
  letter-spacing: -0.04em;
  line-height: 1.1;
}
.wf-active h1,
.wf-active h2,
.wf-active h3,
.wf-active h4 {
  font-family: var(--fonts-sans-serif);
}

b,
strong {
  color: var(--heading-color);
}

p {
  margin: 0 0 var(--space);
}

a {
  color: inherit;
  text-decoration: none;
}

article a {
  background-image: linear-gradient(to top, #777, #777);
  background-position: 0 1.25em;
  background-repeat: repeat-x;
  background-size: 1px 1px;
}

article a code {
  background-color: var(--code-bg-color);
  background-image: linear-gradient(to top, #777, #777);
  background-position: 0 1.4em;
  background-repeat: repeat-x;
  background-size: 1px 1px;
}

article sup a {
  background: 0;
}

.is-legacy article a {
  background: 0;
  text-decoration: underline;
}

code {
  background: var(--code-bg-color);
  border-radius: 2px;
  font-family: Monaco, monospace;
  font-size: 0.8em;
  padding: 2px 3px 1px;
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: initial;
}

pre code {
  background: inherit;
  color: inherit;
  display: block;
  padding: 0;
}

mark {
  background-color: transparent;
  color: inherit;
}

blockquote {
  border-left: .333em solid #eee;
  color: #666;
  font-style: italic;
  margin: 0;
  padding: 0 0 0 1em;
}

ol, ul {
  margin: 0 0 var(--space);
  padding-left: 2em;
}

ul {
  list-style-type: square;
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin-bottom: 0;
}

ol ol {
  list-style: lower-alpha;
}

ol ol ol {
  list-style: lower-roman;
}

figure {
  margin: 0 0 var(--space);
}

figure a {
  background: none;
}

figcaption {
  color: #666;
  font-size: .8em;
  padding: 0 .5em;
  text-align: right;
}

figcaption a {
  color: var(--accent-color);
  border-bottom: 1px dotted var(--accent-color);
}

img {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  height: auto;
  max-width: 100%;
  padding: 3px;
}

iframe {
  width: 100%;
}
