:root {
  --gap: 1.25em;
  --font-family: system-ui, sans-serif;
  --easing: cubic-bezier(.4,0,.2,1);

  --text-color: hsl(0, 0%, 20%);
  --text-color-faded: hsl(0, 0%, 35%);
  --text-color-inverted: hsl(0, 0%, 90%);
  --text-color-inverted-faded: hsl(0, 0%, 75%);

  --link-color: hsl(0, 0%, 40%);
  --link-color-active: var(--link-color);

  --accent-color: hsl(150, 40%, 50%);
  --accent-color-active:hsl(150, 40%, 40%);
  --border-color: hsl(30, 15%, 93%);
  --border-color-input: hsl(30, 15%, 80%);
  --border-radius: 3px;

  --bg-color: hsl(30, 15%, 95%);
  --bg-color-inverted: hsl(0, 0%, 25%);

  --code-bg-color: hsla(30, 15%, 50%, 0.1);

  --error-color: hsl(0, 60%, 50%);
}

@media (--break-md) {
  :root {
    --gap: 1.5em;
  }
}

@media (--break-lg) {
  :root {
    --gap: 1.75em;
  }
}

@media (--break-xl) {
  :root {
    --gap: 2em;
  }
}
