:root {

  --font-fallback: 'Helvetica Neue', sans-serif;
  --font: 'Open Sans', var(--font-fallback);

  --text-color: hsl(0, 0%, 25%);
  --light-text-color: hsl(0, 0%, 90%);
  --link-color: hsl(0, 0%, 40%);
  --accent-color: hsl(150, 40%, 50%);
  --border-color: hsl(30, 15%, 94%);
  --border-radius: 3px;

  --bg-color: hsl(30, 15%, 95%);
  --dark-bg-color: hsl(0, 0%, 25%);
  --code-bg-color: hsl(30, 15%, 96%);

  --shadow: 0 0 .5em hsla(0, 0%, 0%, .3);

  --twitter-color: #55acee;
  --github-color: #171715;
  --rss-color: #F93;

  --vgap: 1.5em;
  --vgap-md: var(--vgap);
  --vgap-lg: 1.75em;


  --hgap: 1.25em;
  --hgap-md: 1.5em;
  --hgap-lg: 1.75em;

  --quantum-easeing :cubic-bezier(.4,0,.2,1);
}
