.sub-section-items {
  width: 75%;
  border-right: 1px solid $border-color;
  padding-right: 3em;
  @include breakpoint(medium) {
    width: auto;
    border: 0;
    padding: 0;
  }
}

.sub-section-meta {
  float: right;
  width: 25%;
  padding-left: 3em;
  text-align: right;
  margin: 0;
  @include breakpoint(medium) {
    float: none;
    width: auto;
    padding: 0;
    margin: 0;
    text-align: left;
  }
}

.section {
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid $border-color;
  &:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
  }
}

.column {
  width: 33%;
  display: inline-block;
  vertical-align: top;
}