.sub-section-items {
  width: 75%;
  border-right: 1px solid $border-color;
  padding-right: 3em;
}

.sub-section-meta {
  float: right;
  width: 25%;
  padding-left: 3em;
  text-align: right;
  margin: 0;
}

.section {
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid $border-color;
  &:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
  }
}

.column {
  display: inline-block;
  width: 33%;
}