.sub-section {
  margin-bottom: 2em;
}

.sub-section__items {
  @include breakpoint(medium) {
    width: 75%;
    border-right: 1px solid $border-color;
    padding-right: 3em;
  }
}

.sub-section__meta {
  margin-bottom: 1em;
  @include breakpoint(medium) {
    float: right;
    width: 25%;
    padding-left: 3em;
    text-align: right;
    margin: 0;
  }
}