{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "globals": {
    "browser": false
  },
  "extends": [
    "eslint:recommended", "google"
  ],
  "plugins": [
    "babel"
  ],
  "rules": {
    // Undo Google rules
    "require-jsdoc": 0,
    // Babel
    "arrow-parens": 0, // Undo base rule.
    "babel/arrow-parens": [2, "always"]
  }
}
