{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "globals": {
    "browser": false,
    "clients": false,
    "FetchEvent": false
  },
  "extends": [
    "eslint:recommended", "google"
  ],
  "rules": {
    // Enough cases fail with this that we have to disable it.
    "indent": 0,
  },
  "overrides": [{
    "files": ["tasks/**/*.{js,mjs}"],
    "rules": {
      "no-console": 0
    }
  }]
}
