{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest"
  },
  "globals": {
    "$": false,
    "browser": false,
    "clients": false,
    "FetchEvent": false,
    "skipWaiting": false,
    "HTMLRewriter": false
  },
  "extends": ["eslint:recommended"]
}
