# OS or Editor folders
.DS_Store
Thumbs.db
.cache

# Temp files
*.sass-cache

# Dependencies
node_modules
bower_components

# Static site output
_site

# Don't track the main CSS file
assets/stylesheets/application.css
