# OS or Editor folders
.DS_Store

# Node stuff
node_modules

# Static site output
_site
build

# Log files
*.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Python modules
python_modules
