---
layout: page
title: Home
heading: Recent Articles
---

<div class="article-list">
{% for post in paginator.posts %}
  {% assign content = post.content %}
  <article>
    {% include excerpt.html %}
  </article>
{% endfor %}
</div>

<p class="callout">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="/">Previous</a>
    {% else %}
      <a href="/page{{paginator.previous_page}}">&laquo; Previous</a>
    {% endif %}
  {% else %}
    &laquo; Previous
  {% endif %}

  &nbsp;|&nbsp;

  {% if paginator.next_page %}
    <a href="/page{{paginator.next_page}}">Next &raquo;</a>
  {% else %}
    Next &raquo;
  {% endif %}
</p>