<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>
  {% if page.title %}
      {{ page.title }}{{ site.titleSuffix | htmlescape }}
  {% else %}
    {{ site.title }}
  {% endif %}
</title>

{% include '_log.html' %}

{% Style entry="main.css", inline=true %}

<!-- Generated via: realfavicongenerator.net and modified -->
<link rel="icon" type="image/png" sizes="32x32" href="{{ 'src/images/favicon-32x32.png' | revision }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ 'src/images/favicon-16x16.png' | revision }}">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="{{ 'src/images/safari-pinned-tab.svg' | revision }}" color="#4d4d4d">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<meta name="apple-mobile-web-app-title" content="{{ site.title }}">
<meta name="application-name" content="{{ site.title }}">
<meta name="theme-color" content="{{ site.themeColor }}">

<link href="https://feeds.feedburner.com/philipwalton" rel="alternate" title="{{site.title}}" type="application/atom+xml">
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt }}{% else %}{{ site.description }}{% endif %}">

{% if not page.private %}
  <link rel="canonical" href="{{ site.baseUrl }}{{ page.path }}">
  {% if page.type === 'article' %}
    <meta name="og:title" content="{{ page.title }}">
    <meta name="og:type" content="{{ page.type }}">
    <meta name="og:url" content="{{ site.baseUrl }}{{ page.path }}">
    {% if page.image and page.excerpt %}
      <meta name="og:image" content="{{ site.baseUrl }}{{ page.image | revision }}">
      <meta name="og:description" content="{{ page.excerpt }}">
      <meta name="twitter:card" content="summary_large_image">
    {% endif %}
  {% endif %}
{% endif %}
