<ul class="SocialNav">
  <li class="SocialNav-item">
    <a class="SocialNav-link SocialNav-link--twitter" href="https://twitter.com/philwalton" title="Twitter">
      <svg class="Icon" viewBox="0 0 32 32">
        <use xlink:href="#icon-twitter"></use>
      </svg>
    </a>
  </li>
  <li class="SocialNav-item">
    <a class="SocialNav-link SocialNav-link--github" href="https://github.com/philipwalton" title="Github">
      <svg class="Icon" viewBox="0 0 32 32">
        <use xlink:href="#icon-github"></use>
      </svg>
    </a>
  </li>
  <li class="SocialNav-item">
    <a class="SocialNav-link SocialNav-link--rss" href="http://feeds.feedburner.com/philipwalton" title="RSS">
      <svg class="Icon" viewBox="0 0 32 32">
        <use xlink:href="#icon-rss"></use>
      </svg>
    </a>
  </li>
</ul>
