@viewport {
  width: device-width
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  color: var(--text-color);
  font: 1em/1.5 sans-serif;

  /* Declare font-family separately since <=IE11 don't parse it properly */
  font-family: var(--font-family);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
  line-height: 1.1;
  margin: 1em 0;
}

main {
  display: none;
}
