.Callout {
  background: var(--bg-color);
  margin: var(--vgap) calc(-1 * var(--hgap));
  padding: var(--vgap) var(--hgap);
}

.Callout :last-child {
  margin-bottom: 0;
}


@media (--break-md) {
  .Callout {
    margin: var(--vgap-md) calc(-1 * var(--hgap-md));
    padding: var(--vgap-md) var(--hgap-md);
  }
}

@media (--break-lg) {
  .Callout {
    border-radius: var(--border-radius);
    margin: var(--vgap-md) 0;
    padding: var(--vgap-md) var(--hgap-md);
  }
}

.Callout--info {
  background: hsla(120, 100%, 50%, .1);
}

.Callout--warning {
  background: hsla(20, 100%, 50%, .15)
}

.Callout--subtle {
  background: var(--bg-color);
}
