.Media {
  display: flex;
  flex-direction: column;
}

.Media-subject {
  margin: 0 0 1em;
}

@media (--break-md) {
  .Media {
    flex-direction: row;
  }
  .Media-subject {
    flex: 0 1 0%;
    min-width: 240px;
    margin: 0 1.5em 0 0;
    order: -1;
  }
  .Media-body {
    flex: 1 0 0%;
  }
}
