<aside class="l-widgets" role="complementary">

  <div class="widget">

    <p>Hello, I'm <strong>Philip Walton</strong>. I work as a senior front-end software engineer for <a href="http://appfolio.com/about">Appfolio</a> in Santa Barbara, CA. I'm passionate about open source software and the future of the Web. This blog is where I write about what I learn.</p>

    <a href="https://twitter.com/philwalton" class="twitter-follow-button" data-lang="en">Follow Me</a>

  </div>

  <div class="widget">
    <h3 class="widget__title">Popular Articles</h3>
    <ul>
      <li>
        <a href="{{ '/articles/what-no-one-told-you-about-z-index/' | absolute }}">What No One Told You About Z-Index</a>
      </li>
      <li>
        <a href="{{ '/articles/decoupling-html-css-and-javascript/' | absolute }}">Decoupling Your HTML, CSS, and JavaScript</a>
      </li>
      <li>
        <a href="{{ '/articles/introducing-html-inspector/' | absolute }}">Introducing HTML Inspector</a>
      </li>
      <li>
        <a href="{{ '/articles/css-architecture/' | absolute }}">CSS Architecture</a>
      </li>
    </ul>
  </div>

  <div class="widget">
    <h3 class="widget__title">Topics</h3>
    <ul>
    {% assign tags = site.tags | sort_by_keys %}
    {% for tag in tags %}
      <li>
        {% capture tag_path %}/tags/{{ tag[0] | downcase }}{% endcapture %}
        <a href="{{ tag_path | absolute }}">{{ tag[0] }}</a>
        ({{ tag[1] | size }})
      </li>
    {% endfor %}
    </ul>
  </div>

</aside>