.ArticlePreview {
  --link-color: var(--text-color);
  --link-color-active: var(--accent-color);

  display: block;
  text-decoration: none;
}

.ArticlePreview-title {
  font-size: 1.6em;
  margin: .5em 0;
}

.ArticlePreview-excerpt {
  color: var(--text-color-faded);
  line-height: 1.4;
  margin: 0;
}

.ArticlePreview-date {
  color: var(--text-color-faded);
  font-size: .9em;
}
