.Content {
  padding: 0 var(--gap);
  margin: 2em auto 0;
  max-width: 54em;
}

/* Breakpoint: LG */
@media (min-width: 48em) {
  .Content {
    margin-top: 0;
    padding: calc(2 * var(--gap));
  }
}

/* Breakpoint: XL*/
@media (min-width: 60em) {
  .Content {
    margin-top: 2em;
  }
}

.Content > article {
  --gap: 1.5em; /* Within the content area keep a medium gap */
}
