.Header {
  --link-color: var(--text-color-inverted-faded);
  --link-color-active: #fff;

  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: auto auto;
  grid-template-areas:
    'logo social'
    'nav nav';

  background: linear-gradient(to top left,
    hsl(0, 0%, 25%), hsl(0, 0%, 20%));
  color: var(--text-color-inverted);
  letter-spacing: 0.025em;
}

.Header a {
  text-decoration: none;
}

.Header-info {
  --link-color: var(--text-color-inverted);

  grid-area: logo;
  padding: var(--gap);
  text-decoration: none;
}

.Header-title {
  font-size: 1.2em;
  line-height: 1;
  margin: 0.15em 0;
  text-transform: uppercase;
  word-spacing: 0.25em;
}
.Header-tagline {
  color: var(--text-color-inverted-faded);
  font-size: 0.8em;
  opacity: 0.8;
}

.Header-social {
  grid-area: social;

  gap: 0.8em;
  display: flex;
  margin: auto var(--gap);
  justify-content: end;
}

.Header-socialLink {
  font-size: 1.5em;
}

.Header-nav {
  grid-area: nav;

  display: flex;
  gap: var(--gap);
  padding: 1em var(--gap);

  background: linear-gradient(to top left,
    hsla(0, 0%, 0%, 0.1), hsla(0, 0%, 0%, 0.2));
}

.Header-navLink {
  font-size: .9em;
  font-weight: 600;
  text-transform: uppercase;
}

@media (--break-lg) {
  .Header {
    --link-color: inherit;
    --link-color-active: var(--accent-color);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'logo social nav';
    background: var(--bg-color);
  }
  .Header-info {
    --link-color: inherit;
    --link-color-active: var(--accent-color);
  }
  .Header-tagline {
    color: var(--text-color-faded);
  }
  .Header-social {
    --link-color: #aaa;
    justify-content: center;
  }
  .Header-socialLink {
    --link-color-active: var(--fill);
  }
  .Header-nav {
    justify-content: end;
    background: 0;
  }
}
