.Share {
  background: var(--bg-color);
  align-items: center;
  display: flex;
  gap: 1.2em;
  line-height: 1.4;
  margin: calc(1.5 * var(--gap)) calc(-1 * var(--gap)) var(--gap);
  padding: var(--gap);
}

.Share-figure {
  color: #0f73ff;
  font-size: 1.5em;
}

.Share-pitch {
  color: #666;
  font-size: .9em;
  margin: 0;
}

/* Breakpoint: LG */
@media (min-width: 48em) {
  .Share {
    border-radius: 3px;
    margin: calc(2 * var(--gap)) 0 var(--gap);
  }
}
