.MainNav {
  font-size: .8em;
  -webkit-font-smoothing: initial;
}

.MainNav a {
  color: #999;
  display: block;
  padding: .2em 0;
  text-decoration: none;
  transition: color .2s cubic-bezier(.4,0,.2,1);
}

.MainNav a:hover,
.MainNav a:focus,
.MainNav a:active {
  color: var(--accent-color);
}
