.Profile {
  color: #555;
  margin-bottom: 1em;
  transition: color .2s cubic-bezier(.4,0,.2,1);
}

.Profile-title {
  font-size: 1em;
  line-height: 1;
  margin: 0 0 .25em;
}

.Profile-tagline {
  color: #aaa;
  font-size: .7em;
  margin: 0;
  -webkit-font-smoothing: initial;
}

.Profile-figure {
  background: inline('headshot-thumb.jpg') no-repeat 2px 2px;
  background-size: 80px 80px;
  border: 1px solid #555;
  border-radius: 50%;
  box-sizing: content-box;
  display: inline-block;
  height: 80px;
  margin-bottom: .8em;
  padding: 2px;
  transition: border-color .2s cubic-bezier(.4,0,.2,1);
  width: 80px;
}

.Profile:hover {
  color: var(accent-color);
}
.Profile:hover .Profile-figure {
  border-color: var(accent-color);
}