:root {
  --icon-size: 24px;
}

.SocialNav {
  display: flex;
  justify-content: inherit;
}

.SocialNav-icon {
  flex: 0 0 auto;
}

.SocialNav-icon + .SocialNav-icon {
  margin-left: .4em;
}

.SocialNav-icon {
  height: var(--icon-size);
  width: var(--icon-size);
}

.SocialNav-icon svg {
  height: 100%;
  fill: #ccc;
  transition: all .2s cubic-bezier(.4,0,.2,1);
  width: 100%;
}

.SocialNav-icon--twitter:hover svg {
  fill: var(--twitter-color);
}

.SocialNav-icon--github:hover svg {
  fill: var(--github-color);
}

.SocialNav-icon--rss:hover svg {
  fill: var(--rss-color);
}


/* Legacy browser fallbacks
   =============================================== */

.is-legacy .SocialNav {
  display: block;
  font-weight: bold;
  font-size: .8em;
  line-height: 1.667;
}

.is-legacy .SocialNav-icon {
  color: #999;
  display: inline-block;

  height: auto;
  width: auto;
}

.is-legacy .SocialNav-icon:hover {
  color: var(--accent-color);
}

.is-legacy .SocialNav-icon:after {
  content: attr(title);
}

.is-legacy .SocialNav-icon + .SocialNav-icon {
  margin-left: 1em;
}

.is-legacy .SocialNav-icon svg {
  display: none;
}

@media (--break-lg) {
  .is-legacy .SocialNav {
    text-align: center;
  }
  .is-legacy .SocialNav-icon {
    display: block;
  }
  .is-legacy .SocialNav-icon + .SocialNav-icon {
    margin-left: 0;
  }
}
