.SocialNav {
  display: flex;
  justify-content: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
}

.SocialNav-icon {
  flex: 0 0 auto;
  height: 24px;
  width: 24px;
}

.SocialNav-icon + .SocialNav-icon {
  margin-left: .2em;
}

@media (--break-sm) {
  .SocialNav-icon {
    height: var(--space);
    width: var(--space);
  }
  .SocialNav-icon + .SocialNav-icon {
    margin-left: .3em;
  }
}

.SocialNav-icon svg {
  transition: all .2s cubic-bezier(.4,0,.2,1);
  fill: #ccc;
}

.SocialNav-icon--twitter:hover svg {
  fill: var(--twitter-color);
}

.SocialNav-icon--github:hover svg {
  fill: var(--github-color);
}

.SocialNav-icon--rss:hover svg {
  fill: var(--rss-color);
}
