@media (min-width: 35em) {
  .separator {
    display: inline-block;
  }
  .separator:after {
    content: "\000a0";
    display: inline-block;
    width: 1px;
    margin: 0 0.7em 0.5em 1em;
    border-left: 1px solid var(border-color);
    line-height: 1;
  }
}
