@media (min-width: 35em) {
  .l-background {
    padding: 2em;
    background-color: #e0e0e0;
  }
}

.l-page {
  transition: padding 0.2s;
  margin: 2em;
}
@media (min-width: 35em) {
  .l-page {
    box-shadow: 0 0 1em rgba(0,0,0,.3);
    background-color: white;
    max-width: 70em;
    margin: 0 auto;
    padding: 3em 4em 1em;
  }
}
@media (min-width: 54em) {
  .l-page {
    padding: 4em 5em 2em;
  }
}
@media (min-width: 70em) {
  .l-page {
    padding: 5em 6em 3em;
  }
}

.l-header {
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: 1px solid var(border-color);
}
