.Alert {
  align-items: flex-start;
  background: var(--error-color);
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.4);
  color: #fff;
  display: flex;
  left: 0;
  padding: var(--vgap) var(--hgap);
  position: absolute;
  right: 0;
  top: 0;
  transform: translate3d(0, -100%, 0);

}

.Alert--isTransitioning {
  transition: transform .2s var(--quantum-easing);
}

.Alert--isActive {
  transform: translate3d(0, 0%, 0);
}

.Alert-icon {
  font-size: 3em;
}

.Alert-close {
  background: none;
  border: 0;
  cursor: pointer;
  font-size: 2em;
  opacity: .4;
  padding: .25em;
}
.Alert-close:active,
.Alert-close:focus,
.Alert-close:hover {
  opacity: 1;
  outline: 0;
}

.Alert-body {
  flex: 1 0 0%;
  margin: 0 var(--hgap);
}

.Alert-title {
  color: inherit;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.1;
  margin: 0;
}

.Alert-message {
  font-weight: 300;
  margin-top: .4em;
  opacity: .7;
}

@media (--break-lg) {
  .Alert {
    padding: var(--vgap-lg) var(--hgap-lg);
  }
}