.ArticlePreview {
  color: inherit;
  display: block;
  text-decoration: none;
}

.ArticlePreview-title {
  display: block;
  font-size: 1.6em;
  line-height: 1.1;
  margin: .667em 0 .333em;
  transition: color .2s cubic-bezier(.4,0,.2,1);
}

.ArticlePreview-excerpt {
  color: #aaa;
  font-size: .9em;
  line-height: 1.4;
  margin: 0;
}

.ArticlePreview-date {
  color: #aaa;
  font-size: .8em;
}

.ArticlePreview:hover .ArticlePreview-title {
  color: var(--accent-color);
}
