.Callout {
  background: var(--bg-color);
  margin: var(--vgap) -var(--hgap);
  padding: var(--vgap) var(--hgap);
}

.Callout :last-child {
  margin-bottom: 0;
}


@media (--break-md) {
  .Callout {
    margin: var(--vgap-md) -var(--hgap-md);
    padding: var(--vgap-md) var(--hgap-md);
  }
}

@media (--break-lg) {
  .Callout {
    border-radius: var(--border-radius);
    margin: var(--vgap-md) 0;
    padding: var(--vgap-md) var(--hgap-md);
  }
}
