.Checklist {
  margin: 0;
  padding: 0;
}
.Checklist li {
  border-bottom: 1px solid hsl(30, 15%, 90%);
  margin-bottom: var(--vgap);
  list-style: none;
  padding: 0 0 var(--vgap) 2.25em;
  position: relative;
}
.Checklist li::before {
  content: "✓";
  font-size: 1.5em;
  left: 0em;
  position: absolute;
  top: -0.25em;
}
.Checklist li strong {
  display: block;
  font-size: 1.1em;
  font-weight: 600;
  line-height: 1.4;
}
.Checklist li p {
  margin: 0.5em 0 0;
  font-style: italic;
}

@media (--break-md) {
  .Checklist li {
    margin-bottom: var(--vgap-md);
    padding: 0 0 var(--vgap-md) 3em;
  }
  .Checklist li::before {
    font-size: 1.667em;
    left: 0.3em;
  }
  .Checklist li p {
    margin-top: 1em;
  }
}
