.ContentHeader {
  border-bottom: 1px solid var(--border-color);
  margin-bottom: var(--gap);
  padding: 0 0 var(--gap);
}

.ContentHeader-articleTitle {
  font-size: 1.75em;
  margin: 0;
}

.ContentHeader-meta {
  font-size: .875em;
  margin: 1em 0 0;
}

.ContentHeader-articleDate {
  margin-right: 0.5em;
}

.ContentHeader-articleTranslations {
  color: var(--text-color-faded);
  font-style: italic;
}

.ContentHeader-pageTitle {
  color: var(--text-color-faded);
  font-size: .8em;
  letter-spacing: .15em;
  margin: 0;
  text-align: left;
  text-transform: uppercase;
  word-spacing: .5em;
}


@media (--break-lg) {
  .ContentHeader-pageTitle {
    text-align: center;
  }
}

@media (--break-xl) {
  .ContentHeader-articleTitle {
    font-size: 2.25em;
  }
}
