.Header {
  align-items: center;
  background: var(--dark-bg-color);
  box-shadow: none;
  display: flex;
  letter-spacing: 0.025em;
  padding: var(--vgap) var(--hgap);
  position: relative;
  transition: border-color .5s var(--quantum-easing),
              box-shadow .5s var(--quantum-easing);
}
.is-drawerOpen .Header {
  box-shadow: var(--shadow);
}

.Header-info {
  color: var(--light-text-color);
  display: block;
  flex: 1 0 0%;
  text-decoration: none;
}
.Header-title {
  color: inherit;
  font-size: 1.2em;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
  word-spacing: 0.25em;
}
.Header-tagline {
  color: inherit;
  font-size: .8em;
  margin: .15em 0 0;
  opacity: .6;
}

.Header-drawer {
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transform: translate3d(0, 0, 0);
  transition: transform .25s var(--quantum-easing),
              opacity .25s var(--quantum-easing);
}
.is-drawerOpen .Header-drawer {
  box-shadow: var(--shadow);
  opacity: 1;
  transform: translate3d(0, 100%, 0);
}

.Header-drawerToggle {
  color: var(--light-text-color);
  cursor: pointer;
  display: flex;
  font-size: 1.5em;
}

@media (--break-md) {
  .Header {
    padding: var(--vgap-md) var(--hgap-md);
  }
}

@media (--break-lg) {
  .Header {
    background: var(--bg-color);
    padding: var(--vgap-lg) var(--hgap-lg);
  }
  .is-drawerOpen .Header {
    box-shadow: none;
  }
  .Header-info {
    color: var(--link-color);
  }
  .Header-info:hover .Header-title {
    color: var(--accent-color);
  }
  .Header-title {
    transition: color .25s var(--quantum-easing);
  }
  .Header-drawerToggle {
    display: none;
  }
  .Header-drawerToggle svg {
    color: var(--link-color);
  }
  .Header-drawer {
    flex: 2 0 0%;
    opacity: 1;
    position: static;
    transition: none;
    z-index: 0;
  }
  .is-drawerOpen .Header-drawer {
    box-shadow: none;
    transform: translate3d(0,0%,0);
  }
}
