.Note {
  background: hsl(150, 80%, 95%);
  border-left: 2px solid hsl(150, 40%, 80%);
  color: #555;
  font-size: .85em;
  padding: 1.2em 1.5em;
}

.Note p {
  margin: 0;
}

.Note strong {
  color: inherit;
  display: inline-block;
  margin-right: .2em;
}
