.Share {
  align-items: center;
  background: var(--bg-color);
  border-radius: var(--border-radius);
  display: flex;
  margin-top: 3em;
  padding: 1.25em;
}

.Share-figure {
  align-items: center;
  color: var(--twitter-color);
  display: flex;
  font-size: 1.5em;
}

.Share-pitch {
  color: #666;
  flex: 1;
  font-size: .9em;
  margin: 0;
  padding-left: 1em;
}
