.Share {
  align-items: center;
  background: var(--bg-color);
  border-radius: var(--border-radius);
  display: flex;
  margin-top: 3em;
  padding: 1.25em 1em;
}

.Share-figure {
  align-items: center;
  display: flex;
  font-size: 1.1em;
  height: 1.5em;
  width: 1.5em;
}

.Share-figure svg {
  fill: #55acee;
  /* width and height needed for IE10 sizing */
  width: 1.5em;
  height: 1em;
}

.Share-pitch {
  color: #666;
  flex: 1;
  font-size: .9em;
  margin: 0;
  padding-left: 1em;
}

/* Legacy browser fallbacks
   =============================================== */

.is-legacy .Share-figure {
  display: none;
}
