:root {
  --icon-size: 24px;
}

.SocialNav {
  display: flex;
  justify-content: inherit;
}


.SocialNav-item {
  display: flex;
  flex: 0 0 auto;
  height: var(--icon-size);
  width: var(--icon-size);
}

.SocialNav-item + .SocialNav-item {
  margin-left: .9em;
}

.SocialNav-link svg {
  fill: #ccc;
  height: var(--icon-size);
  transition: all .2s cubic-bezier(.4,0,.2,1);
  width: var(--icon-size);
}

.SocialNav-link--twitter:hover svg {
  fill: var(--twitter-color);
}

.SocialNav-link--github:hover svg {
  fill: var(--github-color);
}

.SocialNav-link--rss:hover svg {
  fill: var(--rss-color);
}


/* Legacy browser fallbacks
   =============================================== */

.is-legacy .SocialNav {
  display: block;
  font-weight: bold;
  font-size: .8em;
  line-height: 1.667;
}

.is-legacy .SocialNav-link {
  color: #999;
  display: inline-block;
  height: auto;
  width: auto;
}

.is-legacy .SocialNav-link:hover {
  color: var(--accent-color);
}

.is-legacy .SocialNav-link:after {
  content: attr(title);
}

.is-legacy .SocialNav-link + .SocialNav-link {
  margin-left: 1em;
}

.is-legacy .SocialNav-link svg {
  display: none;
}

@media (--break-lg) {
  .is-legacy .SocialNav {
    text-align: center;
  }
  .is-legacy .SocialNav-link {
    display: block;
  }
  .is-legacy .SocialNav-link + .SocialNav-link {
    margin-left: 0;
  }
}
