:root {
  --icon-size: 24px;
}

.SocialNav {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (--break-lg) {
  .SocialNav {
    justify-content: center;
  }
}


.SocialNav-item {
  display: flex;
  flex: 0 0 auto;
  height: var(--icon-size);
  width: var(--icon-size);
}

.SocialNav-item + .SocialNav-item {
  margin-left: .9em;
}

.SocialNav-link svg {
  fill: #ccc;
  height: var(--icon-size);
  transition: all .2s cubic-bezier(.4,0,.2,1);
  width: var(--icon-size);
}

.SocialNav-link--twitter:hover svg {
  fill: var(--twitter-color);
}

.SocialNav-link--github:hover svg {
  fill: var(--github-color);
}

.SocialNav-link--rss:hover svg {
  fill: var(--rss-color);
}
