.SocialNav {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (--break-lg) {
  .SocialNav {
    justify-content: center;
  }
}

.SocialNav-item {
  display: flex;
  flex: 0 0 auto;
}

.SocialNav-item + .SocialNav-item {
  margin-left: .9em;
}

.SocialNav-link {
  color: #ccc;
  font-size: 1.5em;
  transition: all .2s cubic-bezier(.4,0,.2,1);
}

.SocialNav-link--twitter:hover {
  color: var(--twitter-color);
}

.SocialNav-link--github:hover {
  color: var(--github-color);
}

.SocialNav-link--rss:hover {
  color: var(--rss-color);
}
