.SiteNav {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.SiteNav-items {
  display: flex;
  margin: 0;
}

.SiteNav-items {
  list-style: none;
}

.SiteNav-item + .SiteNav-item {
  margin-left: var(--hgap);
}

.SiteNav-link {
  color: var(--text-color-faded);
  font-size: .9em;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  transition: color .2s cubic-bezier(.4,0,.2,1);
}

.SiteNav-link + .SiteNav-link {
  margin-left: 2em;
}

.SiteNav-link:hover,
.SiteNav-link:focus,
.SiteNav-link:active {
  color: var(--accent-color);
}

@media (--break-md) {
  .SiteNav-item + .SiteNav-item {
    margin-left: var(--hgap-md);
  }
}

@media (--break-lg) {
  .SiteNav-item + .SiteNav-item {
    margin-left: var(--hgap-lg);
  }
}
