.Site {

}

.Site-header {
  position: relative;
  z-index: 1;
}

.Site-contentContainer {
  padding: calc(var(--vgap) * 1.333) var(--hgap);
}

.Site-content {
  margin: 0 auto;
}

@media (--break-md) {
  .Site-contentContainer {
    padding: calc(var(--vgap-md) * 1.333) var(--hgap-md);
  }
}

@media (--break-lg) {
  .Site-contentContainer {
    padding-top: calc(var(--vgap-lg) * 3);
  }
  .Site-content {
    max-width: 40em;
  }
}
