*, *:before, *:after {
  box-sizing: border-box;
}

html {
  color: #303030;
  font: 400 .9375em/1.4 "Open Sans", sans-serif;
}

@media
  only screen and (-webkit-min-device-pixel-ratio: 1.25),
  only screen and (-o-min-device-pixel-ratio: 5/4),
  only screen and (min-resolution: 120dpi) {
    html {
      font-weight: 300;
    }
}

a {
  color: var(link-color);
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: underline;
}

address {
  font-style: normal;
}

h1, h2 {
  font-kerning: normal;
}

h1 {
  transition: all 0.2s;
  margin: 0 0 0.667em;
  font: 400 3em/1 serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
@media (min-width: 54em) {
  h1 {
    font-size: 4em;
    margin-bottom: .333em;
  }
}

h2 {
  margin: 0 0 1.333em;
  font: 400 1.5em serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

h3 {
  margin: 0 0 0.9em;
  font-size: 1.111em;
  font-weight: 700;
}

ul {
  margin: 0;
  padding: 0 0 0 1.2em;
  list-style: square;
}

li {
  padding-bottom: 0.5em;
}

i {
  text-transform: lowercase;
  font-style: italic;
  letter-spacing: 0;
}
