*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  color: var(--text-color);
  font: 1.25em/1.333 freight-text-pro, Cambria, Georgia, serif;
  -webkit-font-smoothing: antialiased;
  opacity: 0;
  text-rendering: optimizeLegibility;
  transition: opacity .5s cubic-bezier(.4,0,.2,1);
}

.wf-active body {
  opacity: 1;
}

.is-legacy body,
.is-typekitError body {
  -webkit-font-smoothing: initial;
  opacity: 1;
  text-rendering: initial;
}

h1, h2, h3 {
  font-family: jaf-bernino-sans, Helvetica Neue, sans-serif;
  letter-spacing: -0.036em;
}

p {
  margin: 0 0 var(--space);
}

a {
  color: inherit;
  text-decoration: none;
}

article a {
  background-image: linear-gradient(to top, currentColor, currentColor);
  background-position: 0 1.2em;
  background-repeat: repeat-x;
  background-size: 1px 1px;
}

.is-legacy article a,
.is-typekitError article a {
  background: 0;
  text-decoration: underline;
}

pre {
  background: var(--bg-color);
  line-height: 1.6;
  margin: 0 0 var(--space);
  padding: 1em var(--space);
  white-space: pre-wrap;
  word-break: break-word;
}

code {
  background: var(--bg-color);
  border-radius: 2px;
  display: inline-block;
  font-family: Monaco, monospace;
  font-size: 0.7em;
  padding: 2px 5px 1px;
  -webkit-font-smoothing: initial;
}

pre code {
  background: inherit;
  color: inherit;
  padding: 0;
}

blockquote {
  border-left: .333em solid #eee;
  color: #666;
  font-style: italic;
  margin: 0;
  padding: 0 0 0 1.333em;
}

ol, ul {
  margin: 0 0 var(--space);
  padding-left: 2em;
}

ul {
  list-style-type: square;
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin-bottom: 0;
}

figure {
  margin: 0;
}

iframe {
  width: 100%;
}
