*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  color: var(--text-color);
  font: 1.0625em/1.5 var(--serif-font);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1, h2, h3 {
  color: var(--heading-color);
  font-family: var(--sans-serif-font);
  letter-spacing: -0.04em;
  line-height: 1.1;
}

p {
  margin: 0 0 var(--space);
}

a {
  color: inherit;
  text-decoration: none;
}

article a {
  background-image: linear-gradient(to top, #777, #777);
  background-position: 0 1.25em;
  background-repeat: repeat-x;
  background-size: 1px 1px;
}

article sup a {
  background: 0;
}

.is-legacy article a {
  background: 0;
  text-decoration: underline;
}

code {
  background: var(--code-bg-color);
  border-radius: 2px;
  display: inline-block;
  font-family: Monaco, monospace;
  font-size: 0.8em;
  padding: 2px 3px 1px;
  -webkit-font-smoothing: initial;
}

pre code {
  background: inherit;
  color: inherit;
  display: block;
  padding: 0;
}

blockquote {
  border-left: .333em solid #eee;
  color: #666;
  font-style: italic;
  margin: 0;
  padding: 0 0 0 1em;
}

ol, ul {
  margin: 0 0 var(--space);
  padding-left: 2em;
}

ul {
  list-style-type: square;
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin-bottom: 0;
}

figure {
  margin: 0;
}

iframe {
  width: 100%;
}
