*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  color: #333;
  font: 1.125em/1.333 'jaf-bernino-sans', '' sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.03em;
  text-rendering: optimizeLegibility;
}

p {
  margin: 0 0 var(space);
}

a {
  color: hsl(135, 40%, 50%);
  text-decoration: underline;
}

pre {
  background: var(bg-color);
  margin: 0 0 var(space);
  padding: 1.5em;
  word-break: break-word;
}

code {
  font-family: Monaco, monospace;
  font-size: .9em;
}

blockquote {
  border-left: .333em solid #eee;
  color: #666;
  font-style: italic;
  margin: 0;
  padding: 0 0 0 1.333em;
}

ol, ul {
  margin: 0 0 var(space);
  padding-left: 2em;
}

ul {
  list-style-type: square;
}

img {
  max-width: 100%;
  height: auto;
}
