:root {
  var-link-color: hsl(150, 40%, 50%);
  var-bg-color: #f4f2f0;
  var-border-color: #ddd;

  var-twitter-color: #55acee;
  var-github-color: #171715;
  var-rss-color: #F93;

  var-space: 1.5em;
}
