:root {
  --serif-font: 'Noto Serif', 'Georgia', serif;
  --sans-serif-font: 'Open Sans', 'Helvetica Neue', sans-serif;

  --text-color: #444;
  --heading-color: #222;
  --accent-color: hsl(150, 40%, 50%);
  --border-color: #ddd;
  --bg-color: hsl(30, 15%, 95%);
  --code-bg-color: hsl(30, 15%, 96%);

  --twitter-color: #55acee;
  --github-color: #171715;
  --rss-color: #F93;

  --space: 1.5em;
}
