<script>
// Check for User Timing support.
window.__userTiming = window.performance &&
    typeof performance.mark == 'function' &&
    typeof performance.measure == 'function' &&
    typeof performance.getEntriesByName == 'function';

// Tracks the CSS load start time.
__userTiming && performance.mark('css:start');
</script>

<link href="/assets/css/main.css" rel="stylesheet">

<script>
if (__userTiming) {
  performance.mark('css:end');
  performance.measure('css:block', 'css:start', 'css:end');
  var cssBlock = performance.getEntriesByName('css:block')[0];
  // Tracks the amount of time loading the CSS blocks rendering.
  ga('send', 'timing', 'CSS', 'block', cssBlock.duration, 'local');
}
</script>
