<script>
// Tracks the font load start time.
__userTiming && performance.mark('fonts:start');

WebFontConfig = {
  google: {families: ['Open+Sans:400,400italic,600:latin']},
  active: function() {
    if (__userTiming) {
      performance.mark('fonts:end');
      performance.measure('fonts:load', 'fonts:start', 'fonts:end')
      var fontsLoad = performance.getEntriesByName('fonts:load')[0];
      // Tracks how long it took to load the fonts including
      // the time it tooks to download the webfont.js script.
      ga('send', 'timing', 'Fonts', 'load',
          Math.round(fontsLoad.duration), 'fonts.googleapis.com');
      ga('control.send', 'timing', 'Fonts', 'load',
          Math.round(fontsLoad.duration), 'fonts.googleapis.com');
      ga('testing.send', 'timing', 'Fonts', 'load',
          Math.round(fontsLoad.duration), 'fonts.googleapis.com');
    }
  },
  inactive: function() {
    // Tracks when load errors occur.
    ga('send', 'event', 'Fonts', 'error', 'fonts.googleapis.com', {
      nonInteraction: true
    });
    ga('control.send', 'event', 'Fonts', 'error', 'fonts.googleapis.com', {
      nonInteraction: true
    });
    ga('testing.send', 'event', 'Fonts', 'error', 'fonts.googleapis.com', {
      nonInteraction: true
    });
  }
};
</script>

<script async src="//ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
