<script>
// Tracks the font load start time.
__userTiming && performance.mark('fonts:start');

window.WebFontConfig = (function() {
  try {
    function Deferred() {
      this.promise = new Promise(function(resolve, reject) {
        this.resolve = resolve;
        this.reject = reject;
      }.bind(this));
    }
    var TIMEOUT = 10000; // Wait 10 seconds before calling it a load error.
    var def = new Deferred();
    setTimeout(def.reject, TIMEOUT); // In case webfont.js fails to laod.
    return {
      google: {families: ['Open+Sans:400,400italic,600:latin']},
      timeout: TIMEOUT,
      inactive: def.reject,
      active: function() {
        __userTiming && performance.mark('fonts:end');
        def.resolve();
      },
      waitUntilReady: function() {
        return def.promise;
      }
    }
  } catch(e) {}
}());
</script>

<script async src="//ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
