<script>
// Tracks the JavaScript load start time.
__userTiming && performance.mark('js:start')</script>

<script src="/assets/javascript/main.js"></script>

<script>
if (__userTiming) {
  performance.mark('js:end');
  performance.measure('js:load', 'js:start', 'js:end');
  var jsLoad = performance.getEntriesByName('js:load')[0];
  // Tracks the amount of time it took the JavaScript to load.
  ga('send', 'timing', 'JavaScript', 'load', jsLoad.duration, 'local');
}
</script>

<script async src="//www.google-analytics.com/analytics.js"></script>
