<script>

// Google Analytics async snippet:
// http://goo.gl/3FPNDx
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;

// Create the GA tracker before doing any logging.
ga('create', 'UA-21292978-1', 'auto', {siteSpeedSampleRate: 100});

{% if site.env != 'production' %}
  // In non-production mode, simply log GA hits to the console.
  // Note, tasks must be set before sending the first hit
  ga(function(tracker) {
    tracker.set('sendHitTask', function() {
      // Throw to stop subsequent tasks.
      throw 'Abort tracking in non-production environments.'
    });
  });
{% endif %}

// Track uncaught errors via Google Analytics.
window.onerror = function(message, url, line, col) {
  var desc = message + ' (line: ' + line + ', url: ' + url + ', col: '
      + col + ')';
  ga('send', 'exception', {
    exDescription: 'window.onerror: ' + desc,
    exFatal: false
  });
};

// Check for User Timing support.
window.__userTiming = window.performance &&
    typeof performance.mark == 'function' &&
    typeof performance.measure == 'function' &&
    typeof performance.getEntriesByName == 'function';

</script>
