<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>
  {% if page.title %}
    {{ page.title }}{{ site.titleSuffix }}
  {% else %}
    {{ site.title }}
  {% endif %}
</title>

{% include '_analytics.html' %}
{% include '_perf.html' %}
{% include '_fonts.html' %}
{% include '_css.html' %}

<link href="https://feeds.feedburner.com/philipwalton" rel="alternate" title="{{site.title}}" type="application/atom+ xml">

<meta name="description" content="{% if page.excerpt %}{{ page.excerpt }}{% else %}{{ site.description }}{% endif %}">

<link rel="canonical" href="{{ site.baseUrl }}{{ page.path }}" />

<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script><![endif]-->

{% include '_icons.html' %}
