{% extends 'page.html' %}

{% block pageContent %}

  <p>Hi, my name is Philip Walton. I'm an engineer at Google working on Chrome and the Web Platform. I've been working on the web professionally since 2006, and unprofessionally since 1998 when I made my first website.</p>

  <p>This blog is a place where I can explore new ideas, experiment with different techniques, and muse on best practices. If you're interested in my thoughts on something, please let me know!</p>

  <h2 id="contact">Connect</h2>

  <ul>
    <li><a href="https://twitter.com/philwalton">Twitter</a></li>
    <li><a href="https://github.com/philipwalton">GitHub</a></li>
    <li><a href="https://instagram.com/philipwalton">Instagram</a></li>
  </ul>


  <h2 id="projects">Open-source projects</h2>
    <h3>Current</h3>
    <ul>
      <li><a href="https://github.com/GoogleChrome/web-vitals">web-vitals</a></li>
    </ul>

    <h3>Previous</h3>
    <ul>
      <li><a href="https://developers.google.com/web/tools/workbox/">Workbox</a></li>
      <li><a href="http://philipwalton.github.io/responsive-components/">Responsive Components</a></li>
      <li><a href="https://github.com/googleanalytics/autotrack">Autotrack</a></li>
      <li><a href="https://github.com/philipwalton/flexbugs">Flexbugs</a></li>
      <li><a href="http://philipwalton.github.io/solved-by-flexbox/">Solved by Flexbox</a></li>
    </ul>

  <h2 id="other-writing">Other writing</h2>
  <ul>
    <li><a href="https://web.dev/authors/philipwalton">web.dev</a> <em>(2019, 2020, 2021)</em></li>
    <li><a href="https://developers.google.com/web/resources/contributors/philipwalton">Google Developers</a> <em>(2016, 2017, 2018, 2019)</em></li>
    <li><a href="https://www.smashingmagazine.com/2016/03/houdini-maybe-the-most-exciting-development-in-css-youve-never-heard-of/">Smashing Magazine</a> <em>(2016)</em></li>
    <li><a href="https://css-tricks.com/author/philipwalton/">CSS Tricks</a> <em>(2013, 2014)</em></li>
    <li><a href="http://www.adobe.com/devnet/html5/articles/css-everything-is-global-and-how-to-deal-with-it.html">Adobe Developer Connection</a> <em>(2013)</em></li>
    <li><a href="http://tympanus.net/codrops/2013/01/22/defending-presentational-class-names/">Codrops</a> <em>(2013)</em></li>
  </ul>

{% endblock %}
