{% extends layout %}

{% block content %}

<article id="post" role="article" class="hentry">

  <header class="ContentHeader">
    <h1 class="ContentHeader-articleTitle entry-title">{{ page.title }}</h1>
    <div class="ContentHeader-meta">
      <time class="ContentHeader-articleDate published"
          datetime="{{ page.date | format('YYYY-MM-DDTHH:mm:ssZ') }}">
        {{ page.date | format('MMMM D, YYYY') }}
      </time>
      {%- if page.translations -%}
        <span class="ContentHeader-articleTranslations">
          (translations:
            {% for lang, url in page.translations %}
              <a href="{{ url }}">{{ lang }}</a>
              {%- if not loop.last %}, {% endif %}
            {%- endfor -%}
          )
        </span>
      {% endif %}
    </div>
  </header>

  <div class="entry-content">
    {{ page.markup }}
  </div>

  <footer class="entry-unrelated">
    <div id="share" class="Share Callout">
      <span class="Share-figure">
        <svg class="Icon" viewBox="0 0 39 32">
          <use xlink:href="#icon-twitter-bird"></use>
        </svg>
      </span>
      <p class="Share-pitch">
        If you liked this article and think others should read it, please

        {% set shareUrl = site.baseUrl + page.path %}
        {% set shareParams = {
           'text': page.title,
           'url': shareUrl,
           'via': 'philwalton' } | urlencode %}

        <a href="http://twitter.com/intent/tweet?{{ shareParams }}">
           share it on Twitter</a>.

      </p>
    </div>
  </footer>

</article>

{% endblock %}
