{% extends 'page.html' %}

{% block pageContent %}

  {{ super() }}

  {% for article in articles | reverse %}

    {% if loop.first %}
      {% set currentYear = article.date | format('YYYY') %}
      <h3>{{currentYear}}</h3>
      <ul>
    {% elif currentYear != article.date | format('YYYY') %}
      {% set currentYear = article.date | format('YYYY') %}
      </ul>
      <h3>{{currentYear}}</h3>
      <ul>
    {% endif %}

    <li>
      <a href="{{ article.path }}" title="{{ article.title }}">
      {{ article.title }}</a> (<time datetime="{{ article.date | format('YYYY-MM-DDTHH:mm:ssZ') }}">{{ article.date | format('MMMM D, YYYY') }}</time>)
    </li>

    {% if loop.last %}
      </ul>
    {% endif %}

  {% endfor %}

{% endblock %}
