{% extends 'base.html' %}

{% block content %}

<article role="article" class="hentry">

  <header class="ContentHeader">
    <h1 class="ContentHeader-articleTitle entry-title">{{ page.title }}</h1>
    <time class="ContentHeader-articleDate published"
        datetime="{{ page.date | format('YYYY-MM-DDTHH:mm:ssZ') }}">
      {{ page.date | format('MMMM D, YYYY') }}
    </time>
  </header>

  <div class="entry-content">
    {{ super() }}
  </div>

  <footer class="entry-unrelated">
    <div id="share" class="Share">
      <span class="Share-figure">
        <svg viewBox="0 0 39 32">
          <use xlink:href="#icon-twitter-bird"></use>
        </svg>
      </span>
      <p class="Share-pitch">
        If you liked this article and think others should read it, please

        {% set shareUrl = 'http://philipwalton.com' + page.permalink %}
        {% set shareParams = {
           text: page.title,
           url: shareUrl,
           via: 'philwalton' } | urlencode%}

        <a ga-on="click"
           ga-hit-type="social"
           ga-social-network="Twitter"
           ga-social-action="tweet"
           ga-social-target="{{ shareUrl }}"
           href="http://twitter.com/intent/tweet?{{ shareParams }}">
           share it on Twitter</a>.
      </p>
    </div>
  </footer>

</article>

{% endblock %}
