<!DOCTYPE html>
<html lang="en">
<head>
  {% include '_head.html' %}
</head>
<body class="Site">

  <div class="Site-header">

    <header class="Header" id="drawer-container">

      <a class="Header-info" href="/" title="Home">
        <h1 class="Header-title">Philip Walton</h1>
        <p class="Header-tagline">Engineer @ Google</p>
      </a>

      <div class="Header-drawer" id="drawer-contents">
        <div class="Drawer">
          <nav class="Drawer-site">
            {% include '_site-nav.html' %}
          </nav>
          <nav class="Drawer-social">
            {% include '_social-nav.html' %}
          </nav>
        </div>
      </div>

      <div class="Header-drawerToggle" id="drawer-toggle">
        <svg class="Icon" viewBox="0 0 24 24">
          <use xlink:href="#icon-menu"></use>
        </svg>
      </div>

    </header>

  </div>

  <div class="Site-contentContainer">
    <main class="Site-content">
      {% block content %}
        {{ page.content }}
      {% endblock %}
    </main>
  </div>

  {% include '_javascript.html' %}

  <noscript>
    <!-- Track if JavaScript is disabled -->
    <img src="https://www.google-analytics.com/collect?v=1&t=event&tid=UA-21292978-1&cid=noscript&ec=Window&ea=load&el=noscript&dl={{ site.baseUrl | urlencode}}{{ page.permalink | urlencode }}">
  </noscript>

</body>
</html>
