{% extends 'page.html' %}

{% set title = 'Recent Articles' %}

{% block content %}

  {{ super() }}

  <ul class="ArticleList">
    {% for article in articles | reverse %}
      <li class="ArticleList-item">
        <a href="{{ article.path }}" class="ArticlePreview" title="{{ article.title }}">
          <time class="ArticlePreview-date" datetime="{{ article.date | format('YYYY-MM-DDTHH:mm:ssZ') }}">
            {{ article.date | format('MMMM D, YYYY') }}
          </time>
          <h2 class="ArticlePreview-title">{{ article.title }}</h2>
          <p class="ArticlePreview-excerpt">
            {% set excerpt = article.excerpt or article.content %}
            {{ excerpt | striptags | truncate(180, false, '') | trim -}}
            &hellip;
          </p>
        </a>
      </li>
    {% endfor %}
  </ul>

{% endblock %}
