<!DOCTYPE html>
<html lang="en">
<head>
  {% include '_head.html' %}
</head>
<body class="Site">
  <div class="Site-header">
    <header class="Header" id="header">
      <a class="Header-info" href="/" title="Home">
        <h1 class="Header-title">Philip Walton</h1>
        <p class="Header-tagline">Engineer @ Google</p>
      </a>
      <button class="Header-drawerToggle UnstyledButton" id="drawer-toggle">
        <span class="VisuallyHidden">Menu</span>
        <svg class="Icon" viewBox="0 0 24 24">
          <use xlink:href="#icon-menu"></use>
        </svg>
      </button>
      <div class="Header-drawer">
        <div class="Drawer Drawer--closed" id="drawer">
          <div class="Drawer-content">
            <nav class="Drawer-social">
              {% include '_social-nav.html' %}
            </nav>
            <nav class="Drawer-site">
              {% include '_site-nav.html' %}
            </nav>
          </div>
        </div>
      </div>
    </header>
  </div>

  <div class="Site-contentContainer">
    <main id="content" class="Site-content">
