<!DOCTYPE html>
<html lang="en">
<head>
  {% include '_head.html' %}
</head>

<body>
  <header class="Header" id="header">
    <a class="Header-info" href="/" title="Home">
      <h1 class="Header-title">Philip Walton</h1>
      <div class="Header-tagline">Engineer @ Google</div>
    </a>
    <nav class="Header-social">
      <a class="Header-socialLink" href="https://twitter.com/philwalton" title="Twitter" style="--fill:#5ac">
        <svg class="Icon" viewBox="0 0 32 32">
          <use xlink:href="#icon-twitter"></use>
        </svg>
      </a>
      <a class="Header-socialLink" href="https://github.com/philipwalton" title="Github" style="--fill:#111">
        <svg class="Icon" viewBox="0 0 32 32">
          <use xlink:href="#icon-github"></use>
        </svg>
      </a>
      <a class="Header-socialLink" href="http://feeds.feedburner.com/philipwalton" title="RSS" style="--fill:#f93">
        <svg class="Icon" viewBox="0 0 32 32">
          <use xlink:href="#icon-rss"></use>
        </svg>
      </a>
    </nav>
    <nav class="Header-nav">
      <a class="Header-navLink" href="/articles/" title="Articles">Articles</a>
      <a class="Header-navLink" href="/about/" title="About">About</a>
    </nav>
  </header>
  <main id="content" class="Content">
