.article-meta {
  margin: 0;
  padding: 0;
  font-size: .833em;
  li {
    position: relative;
    display: inline;
    padding-right: .7em;
    padding-left: .9em;
    border-left: 1px solid #909090;
    &:first-child {
      padding-left:0;
      border:0;
    }
  }
}