.page-header {
  margin-bottom: 2em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid $border-color;
}

.page-header__title {
  margin-bottom: .2em;
  line-height: 1.1;
  a {
    color: inherit;
    &:hover {
      color: $accent-color;
    }
  }
}