<!--
{
  "layout": "default",
  "comments": true,
  "permalink": ":type/:filename"
}
-->

<header class="ContentHeader">
  <h1 class="ContentHeader-title entry-title">{{title}}</h1>
  <time class="ContentHeader-date published" datetime="{{datetime date format="YYYY-MM-DDTHH:mm:ssZ"}}">
    {{datetime date format="MMMM D, YYYY"}}
  </time>
</header>

<div class="entry-content">
  {{{content}}}
</div>

<footer class="Share entry-unrelated">
  <span class="Share-figure">
    <svg viewBox="0 0 32 32">
      <use xlink:href="#icon-twitter-bird"></use>
    </svg>
  </span>
  <p class="Share-pitch">
    If you liked this article and think others should read it, please
    <a href="{{twitterShareLink}}">share it on Twitter</a>.
  </p>
</footer>
