<!--
{
  "layout": "default",
  "comments": true,
  "permalink": ":type/:filename"
}
-->

<article role="article" class="hentry">

  <header class="ContentHeader">
    <h1 class="ContentHeader-title entry-title">{{title}}</h1>
    <time class="ContentHeader-date published"
        datetime="{{datetime date format='YYYY-MM-DDTHH:mm:ssZ'}}">
      {{datetime date format="MMMM D, YYYY"}}
    </time>
  </header>

  <div class="entry-content">
    {{{content}}}
  </div>

  <footer class="entry-unrelated">

    <div class="Share">
      <span class="Share-figure">
        <svg viewBox="0 0 39 32">
          <use xlink:href="#icon-twitter-bird"></use>
        </svg>
      </span>
      <p class="Share-pitch">
        If you liked this article and think others should read it, please
        <a data-social-network="Twitter"
           data-social-action="tweet"
           href="{{twitterShareLink}}">share it on Twitter</a>.
      </p>
    </div>

  </footer>

</article>
