<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head}}
  </head>
  <body class="Site">

    <div class="Site-header">
      <header class="Header">
        <a class="Header-info" href="/" title="Home">
          <h1 class="Header-title">Philip Walton</h1>
          <p class="Header-tagline">Engineer at Google</p>
        </a>
        <a class="Header-photo" href="/" title="Home"></a>
        <div class="Header-social">
          {{> social-nav}}
        </div>
        <div class="Header-nav">
          {{> main-nav}}
        </div>
      </header>
    </div>

    <div class="Site-contentContainer">
      <main class="Site-content">
        {{{content}}}
      </main>
    </div>

    {{> foot-scripts}}

  </body>
</html>
