---
layout: default
---

{% assign post = page %}
<article role="article">

  {% include page-header.html %}

  {{ content }}

  {% capture share_url %}{% if post.short_url %}{{ post.short_url }}{% else %}{{ post.url | absolute }}{% endif %}{% endcapture %}
  {% capture twitter_share_link %}http://twitter.com/intent/tweet?text={{ post.title | url_encode }}&url={{ share_url | url_encode }}&via=philwalton{% endcapture %}
  <p class="callout callout--twitter">If you liked this article and think others should read it, please <a href="{{ twitter_share_link }}">share it on Twitter</a>.
  </p>

  {% unless page.comments == false %}
    {% include disqus.html %}
  {% endunless %}

</article>