<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Résumé &mdash; Philip Walton</title>

    <!-- http://t.co/dKP3o1e -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name=viewport content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" type="text/css">
    <link href="{{linkTo '/assets/css/resume.css'}}" rel="stylesheet" type="text/css">

    <meta name="robots" content="noindex, nofollow, noarchive">
  </head>
  <body>
    {{{content}}}
    {{#is site.env 'production'}}
      {{> google-analytics}}
      <script src="{{linkTo '/assets/javascript/track-external-clicks.js'}}"></script>
    {{/is}}
  </body>
</html>
