.l-header-main {
  width: 50%;
  margin: 3em 0;
  float: left;
  @include breakpoint(medium) {
    width: auto;
    float: none;
    margin: 2em 0 1em;
  }
}

.l-header-nav {
  width: 50%;
  float: right;
  @include breakpoint(medium) {
    width: auto;
    float: none;
  }
}