.l-container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 2em;
}

.l-content {
  margin: 3em 30% 3em 0;
  padding-right: 3em;
}

.l-widgets {
  float: right;
  width: 30%;
  margin: 3em 0;
  padding-left: 3em;
}

.l-comments {
  margin-top: 3em;
  padding-top: 3em;
  border-top: 1px solid $border-color;
}

.l-footer {
  margin: 2em 0;
  border-top: 1px solid $border-color;
  clear: both;
  font-size: .85em;
}


@media (max-width: 38em) {

  .l-content {
    margin: 2em 0;
    padding-right: 0;
  }

  .l-widgets {
    display: none;
  }
}